body {
  padding-bottom: 100px;
  background-color: #060718;
}

.navbar {
  background-color: #0b0c2a;
  margin-bottom: 30px;
}

.navbar_logo img {
  position: relative;
  left: 1cm;
}

#navbarmenu {
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

.navbar-toggler-icon img {
  width: 16px;
  background-position: center;
}

.navbar-toggler {
  margin: 0 20px 2px 14px;
  font-size: 12px;
  border: 1px solid white;
}

.form .btn btn-outline-success {
  margin: 15px;
}

.hero img {
  grid-area: hero;
  height: 350px;
  /* background-image: url(/img/fullmetal_Sampul.jpg); */
  background-size: cover;
}

.col  h2 {
  padding-bottom: 20px;
}